@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?801m6c');
  src:  url('../fonts/icomoon.eot?801m6c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?801m6c') format('truetype'),
    url('../fonts/icomoon.woff?801m6c') format('woff'),
    url('../fonts/icomoon.svg?801m6c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bottom1:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e900";
}
.icon-bottom:before {
  content: "\e901";
}
.icon-clarity_grid-view-solid:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-comment:before {
  content: "\e904";
}
.icon-data:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-favorite:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-karzinka:before {
  content: "\e909";
}
.icon-left-long:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-message:before {
  content: "\e90d";
}
.icon-pencil:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e90f";
}
.icon-right:before {
  content: "\e910";
}
.icon-right-icon:before {
  content: "\e911";
}
.icon-right-slider:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-search-plus:before {
  content: "\e914";
}
.icon-star:before {
  content: "\e915";
}
.icon-tel:before {
  content: "\e916";
}
.icon-twitter:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
